@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 767px) {

  .p-toast-message {
    font-size: 14px;
    margin-left: 3.2rem;
 }
  .swal2-popup {
    scale: 0.9;
  }
}
.bg-light {
  background-image: url("./app/images/bg.webp");
  font-family: Arial, sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}

.bg-dark {
  background-image: url("./app/images/black-bg.webp");
  font-family: Arial, sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}
.swal2-popup {
  font-family: 'Arial', sans-serif;
  background-color: #3a3636;
  color: #401a1a25;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}



.swal2-title {
  font-size: 1.5rem;
  color: #df2a4b;
}

.swal2-content {
  font-size: 1rem;
  color: #555555;
}

.swal2-footer {
  text-align: center;
}

.swal2-button {
  background-color: #3498db;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 1rem;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.swal2-button:hover {
  background-color: #207ebd;
}

.swal2-cancel {
  background-color: #e74c3c;
  color: #ffffff;
}

.swal2-cancel:hover {
  background-color: #c0392b;
}