@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   font-family: Arial, sans-serif;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   scroll-behavior: smooth;
  
}
@media (max-width: 767px) {

  .p-toast-message {
    font-size: 14px;
    margin-left: 3.2rem;
 }
  .swal2-popup {
    scale: 0.9;
  }
}
.bg-light {
  background-image: url("./app/images/bg.webp");
  font-family: Arial, sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}

.bg-dark {
  background-image: url("./app/images/black-bg.webp");
  font-family: Arial, sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}
